<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% ex_contact_name      = @address_fileds_contents.spec_slug('address-field-label-contact-name').last%>
<% ex_contact_number    = @address_fileds_contents.spec_slug('address-field-label-contact-number').last%>
<% ex_contact_address1  = @address_fileds_contents.spec_slug('address-field-label-address-1').last%>
<% ex_contact_address2  = @address_fileds_contents.spec_slug('address-field-label-address-2').last%>
<% ex_contact_address3  = @address_fileds_contents.spec_slug('address-field-label-address-3').last%>
<% ex_contact_town      = @address_fileds_contents.spec_slug('address-field-label-town').last%>
<% ex_contact_state     = @address_fileds_contents.spec_slug('address-field-label-state').last%>
<% ex_contact_country   = @address_fileds_contents.spec_slug('address-field-label-country').last%>
<% new_contact_name     = @address_fileds_contents.spec_slug('address-field-label-new-contact-name').last%>
<% new_contact_number   = @address_fileds_contents.spec_slug('address-field-label-new-contact-number').last%>
<% new_contact_address1 = @address_fileds_contents.spec_slug('address-field-label-new-address-1').last%>
<% new_contact_address2 = @address_fileds_contents.spec_slug('address-field-label-new-address-2').last%>
<% new_contact_address3 = @address_fileds_contents.spec_slug('address-field-label-new-address-3').last%>
<% new_contact_town     = @address_fileds_contents.spec_slug('address-field-label-new-town').last%>
<% new_contact_state    = @address_fileds_contents.spec_slug('address-field-label-new-state').last%>
<% new_contact_country  = @address_fileds_contents.spec_slug('address-field-label-new-country').last%>



<% Globalize.with_locale (I18n.locale) do %> 
  <% address_id = address_type.chars.first %>
  <div class="inner" data-hook=<%="#{address_type}_inner" %>>
    <p class="form-group" id=<%="#{address_id}firstname" %>>
      <%#= address_form.label :firstname do %>
        <!-- <%#= Spree.t(:contact_name) %><abbr class="required" try(:title)="required">*</abbr> -->
      <%# end %>
      <%= address_form.text_field :firstname, class: 'form-control', required: true, placeholder: address_form.object.persisted? ? ex_contact_name.try(:title) : new_contact_name.try(:title) %>
    </p>

    <p class="form-group" id=<%="#{address_id}phone" %>>
      <%#= address_form.label :phone do %>
        <%#= Spree.t(:contact_number) %>
        <%# if address.require_phone? %>
        <!-- <abbr class="required" try(:title)="required">*</abbr> -->
        <%# end %>
      <%# end %>
      <%= address_form.number_field :phone, class: 'form-control', required: true, placeholder:  address_form.object.persisted? ? ex_contact_number.try(:title)  : new_contact_number.try(:title)  %>
    </p>
    <!-- <%# if Spree::Config[:alternative_shipping_phone] %>
      <p class="form-group" id=<%#="#{address_id}altphone" %>>
        <%#= address_form.label :alternative_phone, Spree.t(:alternative_phone) %>
        <%#= address_form.phone_field :alternative_phone, class: 'form-control' %>
      </p>
    <%# end %> -->


   
    <!-- <p class="form-group" id=<%#="#{address_id}lastname" %>>
      <%#= address_form.label :lastname do %>
        <%#= Spree.t(:last_name) %><abbr class="required" try(:title)="required">*</abbr>
      <%# end %>
      <%#= address_form.text_field :lastname, class: 'form-control', required: true %>
    </p> -->
    <p class="form-group" id=<%="#{address_id}address1" %>>
      <!-- <%#= address_form.label :address1 do %>
        <%#= Spree.t(:street_address) %><abbr class="required" try(:title)="required">*</abbr>
      <%# end %> -->
      <%= address_form.text_field :address1, class: 'form-control required',  required: true,placeholder: address_form.object.persisted? ? ex_contact_address1.try(:title)  : new_contact_address1.try(:title)  %> 
    </p>
    <p class="form-group" id=<%="#{address_id}address2" %>>
      <%#= address_form.label :address2, Spree.t(:street_address_2) %>
      <%= address_form.text_field :address2, class: 'form-control', placeholder: address_form.object.persisted? ? ex_contact_address2.try(:title) : new_contact_address2.try(:title) %>
    </p>

    <p class="form-group" id=<%="#{address_id}address2" %>>
      <%#= address_form.label :address2, Spree.t(:street_address_2) %>
      <%= address_form.text_field :address3, class: 'form-control', placeholder: address_form.object.persisted? ? ex_contact_address3.try(:title)  : new_contact_address3.try(:title)  %>
    </p>


    <p class="form-group" id=<%="#{address_id}city" %>>
      <!-- <%#= address_form.label :city do %>
        <%#= Spree.t(:city) %><abbr class="required" try(:title)="required">*</abbr>
      <%# end %> -->
      <%= address_form.text_field :city, class: 'form-control', required: true, placeholder: address_form.object.persisted? ? ex_contact_town.try(:title) : new_contact_town.try(:title) %>
    </p>

    <!-- <%#= address_form.label :state do %>
      <%#= Spree.t(:state) %><abbr class='required' try(:title)="required" id=<%#="#{address_id}state-required"%>>*</abbr>
    <%# end %> -->
    <p class="form-group" id=<%="#{address_id}country" %>>
      <%#= address_form.label :country_id do %>
        <!-- <%#= Spree.t(:country) %><abbr class="required" title="required">*</abbr> -->
      <%# end %>

      <span id=<%="#{address_id}country-selection" %>>
        <%= address_form.collection_select :country_id, available_countries, :id, :name, {:selected => address_form.object.country_id.present? ? address_form.object.country_id : Spree::Config.default_country_id}, { class: 'form-control country-select-dp', required: true } %>
      </span>
    </p>
    <% address.country.present? ? address.country : (address.country_id = Spree::Config.default_country_id) %>
    <% if Spree::Config[:address_requires_state] %>
      <p class="form-group" id=<%="#{address_id}state" %>>
        <% have_states = !address.country.states.empty? %>
        <%#= address_form.label :state do %>
          <!-- <%#= Spree.t(:state) %><abbr class='required' title="required" id=<%#="#{address_id}state-required"%>>*</abbr> -->
        <%# end %>

        <%== state_elements = [
           address_form.collection_select(:state_id, address.country.states,
                              :id, :name,
                              {include_blank: true, :prompt => "Please Select the State"},
                              {class: have_states ? 'form-control' : 'form-control hidden',
                              required: have_states,
                              disabled: !have_states}) +
            address_form.text_field(:state_name,
                              class: !have_states ? 'form-control' : 'form-control hidden',
                              required: !have_states,
                              disabled: have_states)
           ].join.gsub('"', "'").gsub("\n", "")
        %>
      </p>
        <noscript>
          <%= address_form.text_field :state_name, class: 'form-control', required: true %>
        </noscript>
    <% end %>

    <%#= address_field(address_form, :state, address_id) { address_state(address_form, address.country, address_id) } %>


    <!-- <p# class="form-group" id="<%#= "#{address_id}country" %>">
      <%#= address_form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
      <span id="<%#= "#{address_id}country-selection" %>">
        <%#= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required form-control country-dropdown'} %>
      </span>
    </p> -->
    

    <!-- <p class="form-group" id=<%#="#{address_id}zipcode" %>>
      <%#= address_form.label :zipcode do %>
        <%#= Spree.t(:zip) %>
        <%# if address.require_zipcode? %>
          <abbr class="required" try(:title)="required">*</abbr>
        <%# end %>
      <%# end %>
      <%#= address_form.text_field :zipcode, class: 'form-control', placeholder: "ZipCode *" %>
    </p> -->
    

    
  </div>
<% end %>

