
<% lang = I18n.locale %>
<% if @address.errors.any? %>
	toastr.error("<%= @address.errors.messages%>")
<% else %>
	var html = "<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/account_management/address/user_addresses_section", locals: {addresses: spree_current_user.addresses, user: spree_current_user} %>"
	$("#user-"+ <%= spree_current_user.id %> + "-addresses-section").html(html);
	toastr.success("Your address has been deleted successfully.")
	// $("#Delete_confirm_modal_" + <%= @address.id %> ).modal('hide');
	location.reload();
<% end %>