<% lang = I18n.locale %>
<% if @primary_address %>
	var html = "<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/account_management/address/user_addresses_section", locals: {addresses: spree_current_user.addresses, user: spree_current_user} %>"
	$("#user-"+ <%= spree_current_user.id %> + "-addresses-section").html(html);
	toastr.success("Your address is become primary now.")
<% else %>
	toastr.error("<%= @address.errors.messages%>")
<% end%>
