
<div id="order_summary-<%main_order.id%>" class = "small_detail_box_<%= main_order.id %>">
  <div class="odr-box bg-gry-set" id="order" data-hook="">     
    <%= render partial: "spree/en/account_management/orders/main_order_details", locals: {order: main_order} %>

    <div class="clearfix"></div>     
    <div class="dvd"></div>          
    <div class="clearfix"></div>

    <div class="deli_ver_y">
      <!-- <ul>
        <li class="bd_green">
        <%#= image_tag "return-icon-green.png", alt: "" %>
        <br><font>Return Requested</font></li>
        <li class="divid_line">
        <%#= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="bd_green">
        <%#= image_tag "progress-icon-green.png", alt: "" %>
        <br><font>In Progress</font></li>
        <li class="divid_line">
        <%#= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="bd_green">
        <%#= image_tag "complete-icon-green.png", alt: "" %>
        <br><font>Complete</font></li>
      </ul> -->

      <ul class="ress">
        <li class="bd_green">
        <%= image_tag "recieved-icon-green.png", alt: "" %>
        <br><font>Order Received</font></li>
        <li class="divid_line">
        <%= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="bd_green">
        <%= image_tag "progress-icon-black-green.png", alt: "" %>
        <br><font>Order in Progress</font></li>
        <li class="divid_line">
        <%= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="<%= (main_order.complete? && main_order.shipped?) ? 'bd_green' : '' %>">
        <%= image_tag (main_order.complete? && main_order.shipped?) ? 'deliverd-icon-green.png' : 'deliverd-icon-grey.png', alt: "" %>
        <br><font>Order Delivered</font></li>
        </ul>

    </div>

    <div class="cv-set-lal">
      <div class="pur_ch">
      <ul class="col-lg-6 col-md-6 col-sm-6 p-0">
      <li class="he_ad_bold_1">#<%= main_order.number %></li>
      <% if main_order.parent_order.present? %>
        <li>- Purchased from (<%= main_order.products.map{|s| s.vendor.try(:name)}.uniq.reject(&:blank?).join(",") %>)</li>
      <% end %>
      </ul>
      <% if  main_order.shipments.any? %>
        <% main_order.shipments.each do |ship| %>
          <ul class="col-lg-6 col-md-6 col-sm-6 p-0 ab-rht">
            <li><% ship.shipped_at.present? ? "Shipped On:" + ship.shipped_at.strftime("%e/%m/%Y") : "" %></li>
            <li class="he_ad_bold_2"> <% ship.tracking.present? ? "Tracking Number:" + ship.tracking.to_s : "" %></li>
          </ul>
        <% end %>
      <% end %>
      </div>

      <div class="der-mn">
        <ul class="bsp-kj">
          <% main_order.line_items.each_with_index do |item, index| %>
            <li>
              <% if item.variant.images.length == 0 %>
                <%= link_to small_image(item.variant.product), item.variant.product %>
              <% else %>
                <%= link_to image_tag(main_app.url_for(item.variant.images.first.url(:small))), item.variant.product %>
              <% end %>

              <% if  item.personalized_info.present? %>
                <div class="text-center" style='margin-top: 6px'>
                  <%= image_tag "arw-icon.png"%>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="sw-ord-button dv-frist-fix">
          <button class="show_details_<%=main_order.id%>">SHOW DETAILS</button>
        </ul>
      </div>

      


    </div>

  </div>
</div>

<div class="odr-box details_box_<%= main_order.id%>" style= "display: none;">     
  <%= render partial: "spree/en/account_management/orders/main_order_details", locals: {order: main_order} %>

<!-- <div class="clearfix"></div>     
<div class="dvd"></div>          
<div class="clearfix"></div> -->

<!-- 
<div class="bg-gry-set pad-20">
<div class="deli_ver_y">
<h2 class="retu_h1">Return Requested <span> from (Store Name)</span></h2>
<ul class="ress">
<li class="bd_green">
<%#= image_tag "return-icon-green.png", alt: "" %>

<br><font>Return Requested</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li>
-->        <%#= image_tag "progress-icon-blk.png", alt: "" %>
<!-- <br><font>In Progress</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li>
<%#= image_tag "complete-icon-grey.png", alt: "" %>
<br><font class="bd-4">Complete</font></li>
</ul>

<ul class="nam_cle">
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li><br>
<li class="sno-line"><span></span></li><br>
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li><br>
</ul>

<div class="vol_rma text-right">
<button>VIEW RMA</button>
</div>

</div>
</div> -->

<!-- <div class="clearfix"></div>
<div class="dvd"></div>  
<div class="clearfix"></div> -->

<!-- <div class="pad-20-none">
<div class="deli_ver_y">
<h2 class="retu_h1">Return Requested <span> from (Store Name)</span></h2>
<ul class="ress">
<li class="bd_green">
<%#= image_tag "return-icon-green.png", alt: "" %>
<br><font>Return Requested</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li class="bd_green">
<%#= image_tag "progress-icon-green.png", alt: "" %>
<br><font>In Progress</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li class="bd_green">
<%#= image_tag "complete-icon-green.png", alt: "" %>
<br><font>Complete</font></li>
</ul>

<ul class="nam_cle">
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li>
</ul>

<div class="vol_rma text-right">
<button>VIEW RMA</button>
</div>

</div>
</div> -->


<div class="clearfix"></div>
<div class="dvd"></div>  
<div class="clearfix"></div>


<%= render partial: "spree/en/account_management/orders/sub_orders_section", locals: {sub_orders: main_order.sub_orders, main_order: main_order} %>


<div class="hide_detail_btn text-right">
<button class = 'hide_details_<%= main_order.id%>'>HIDE DETAILS</button>
</div>


</div>



<script type="text/javascript">
  $('.'+ "show_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").hide();
      $('.' + "details_box_<%= main_order.id%>").slideDown('fast');
  });
    
  $('.' + "hide_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").show();  
      $('.' + "details_box_<%= main_order.id%>").slideUp('fast');
  });
    
</script>