<% os = main_order.state %>

<div id="order_summary-<%main_order.id%>" class = "small_detail_box_<%= main_order.id %>">
  <div class="odr-box" id="order" data-hook="">     
    <%= render partial: "spree/en/account_management/orders/main_order_details", locals: {order: main_order} %>
    <div class="clearfix"></div>     
    <div class="dvd"></div>          
    <div class="clearfix"></div>

    <div class="deli_ver_y">
     <ul>
     <li class="bd_green"><%= image_tag "recieved-icon-green.png" %><br><font>Order Received</font></li>

     <li class="divid_line"><%= image_tag "divider-line.png" %></li>
      
     <li class="<%= ( os == "delivery" || os == "payment") ? "bd_green" : "" %>">
        <%= image_tag ( os == "delivery" || os == "payment") ? "arrows-ico.svg" : "arrows-ico.svg" %>
        <br><font>Order in Progress</font></li>
     <li class="divid_line"><%= image_tag "divider-line.png" %></li>
     
     <li><%= image_tag "deliverd-icon-grey.png" %><br><font class="bd-4">Order Delivered</font></li>
     </ul>
   </div>
   
   <div class="cv-set-lal">
     <div class="pur_ch">
     <ul class="col-lg-12 col-md-12 col-sm-12 p-0">
     <li class="he_ad-1">#<%= main_order.number %></li>
     <li>Purchased from (<%= main_order.products.map{|s| s.vendor.try(:name)}.uniq.reject(&:blank?).join(",") %>)</li>
     </ul>
     </div>
     
    <div class="der-mn">
      <ul class="bsp-kj">
        <% main_order.line_items.each_with_index do |item, index| %>
          <li>
            <% if item.variant.images.length == 0 %>
              <%= link_to small_image(item.variant.product), item.variant.product %>
            <% else %>
              <%= link_to image_tag(main_app.url_for(item.variant.images.first.url(:small))), item.variant.product %>
            <% end %>

            <% if  item.personalized_info.present? %>
              <div class="text-center" style='margin-top: 6px'>
                <%= image_tag "arw-icon.png"%>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="sw-ord-button dv-frist-fix">
        <button class="show_details_<%=main_order.id%>">SHOW DETAILS</button>
      </ul>
    </div>
   </div>

    <%#= render partial: "spree/en/account_management/orders/sub_orders_section", locals: {sub_orders: main_order.sub_orders, main_order: main_order} %>
  </div>

</div>

<div class="odr-box details_box_<%= main_order.id%>" style= "display: none;">     
  <%= render partial: "spree/en/account_management/orders/main_order_details", locals: {order: main_order} %>

<!-- <div class="clearfix"></div>     
<div class="dvd"></div>          
<div class="clearfix"></div> -->

<!-- 
<div class="bg-gry-set pad-20">
<div class="deli_ver_y">
<h2 class="retu_h1">Return Requested <span> from (Store Name)</span></h2>
<ul class="ress">
<li class="bd_green">
<%#= image_tag "return-icon-green.png", alt: "" %>

<br><font>Return Requested</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li>
-->        <%#= image_tag "progress-icon-blk.png", alt: "" %>
<!-- <br><font>In Progress</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li>
<%#= image_tag "complete-icon-grey.png", alt: "" %>
<br><font class="bd-4">Complete</font></li>
</ul>

<ul class="nam_cle">
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li><br>
<li class="sno-line"><span></span></li><br>
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li><br>
</ul>

<div class="vol_rma text-right">
<button>VIEW RMA</button>
</div>

</div>
</div> -->

<!-- <div class="clearfix"></div>
<div class="dvd"></div>  
<div class="clearfix"></div> -->

<!-- <div class="pad-20-none">
<div class="deli_ver_y">
<h2 class="retu_h1">Return Requested <span> from (Store Name)</span></h2>
<ul class="ress">
<li class="bd_green">
<%#= image_tag "return-icon-green.png", alt: "" %>
<br><font>Return Requested</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li class="bd_green">
<%#= image_tag "progress-icon-green.png", alt: "" %>
<br><font>In Progress</font></li>
<li class="divid_line">
<%#= image_tag "divider-line.png", alt: "" %>
</li>
<li class="bd_green">
<%#= image_tag "complete-icon-green.png", alt: "" %>
<br><font>Complete</font></li>
</ul>

<ul class="nam_cle">
<li><a href="#">
<%#= image_tag "add-review-profile.jpg", alt: "" %>
</a><span><a href="#">1x Product Name</a></span></li>
</ul>

<div class="vol_rma text-right">
<button>VIEW RMA</button>
</div>

</div>
</div> -->




<div class="clearfix"></div>
<div class="dvd"></div>  
<div class="clearfix"></div>


<%= render partial: "spree/en/account_management/orders/products_collection", locals: {order_line_items: main_order.line_items} %>


<div class="hide_detail_btn text-right">
<button class = 'hide_details_<%= main_order.id%>'>HIDE DETAILS</button>
</div>


</div>

<script type="text/javascript">
  $('.'+ "show_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").hide();
      $('.' + "details_box_<%= main_order.id%>").slideDown('fast');
  });
    
  $('.' + "hide_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").show();  
      $('.' + "details_box_<%= main_order.id%>").slideUp('fast');
  });
    
</script>