<% order_line_items.each_with_index do |item, index| %>
  <div class="col-lg-3 col-md-3 col-sm-3 p-0 text-center">

    <% if item.variant.images.length == 0 %>
      <%= link_to small_image(item.variant.product), item.variant.product %>
    <% else %>
      <%= link_to image_tag(main_app.url_for(item.variant.images.first.url(:small))), item.variant.product %>
    <% end %>
     <% if  item.personalized_info.present? %>
      <div class="text-center" style='margin-top: 6px'>
        <%= image_tag "arw-icon.png"%>
      </div>
    <% end %>
  </div>




    <div class="col-lg-9 col-md-9 col-sm-9 adip">
    
    <%= link_to item.variant.product, itemprop: "url" do %>
      <%=item.quantity.to_s + " x "%>
      <%= content_tag(:span, truncate(item.variant.product.name, length: 50), class: 'info', itemprop: "name", title: item.variant.product.name) %>
    <% end %>

    <br><p><%= truncate(item.description, length: 100) %></p>
    

    <!-- <div>
      <%#= item.variant.options_text unless item.variant.option_values.empty? %>
    </div> -->

    <%product = item.variant.product%>

    <% if product.on_sale? %>
      <ul class="rt-prc">
        <li class="wis_list"><%= display_price(product) %></li>
        <li class="cm_wis"><del><%= display_original_price(product) %></del><br><font><%= display_discount_percent(product, append_text=@order_sale_off_label.try(:title)) %></font></li>
      </ul> 
    <% else %>
      <ul class="rt-prc">
        <li class="nom"><%= display_price(product)  %></li>
      </ul> 
    <% end %>

  </div> 


  <% if order_line_items.count != index + 1 %>
    <div class="clearfix"></div>
    <div class="dvd"></div>  
    <div class="clearfix"></div>
  <% end %>
<% end %>