<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_btn_contents = @address_contents.from_gen_slug('address-btn-label') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% @user_shipping_address = user.shipping_address.present? ?user.shipping_address.id  : "" %>
<% @user_billing_address = user.billing_address.present? ? user.billing_address.id: "" %>

<% if addresses.any? %> 

	<% primary_address     = addresses.select{|s| ( @user_shipping_address || @user_billing_address  ) == s.id}.last%>
	<% secondry_addresses  = addresses.reject{|s| ( @user_shipping_address || @user_billing_address  ) == s.id} %>

	<% if primary_address.present? %>
		<% secondry_addresses.insert(0,primary_address) %>
	<% end %>


  <% secondry_addresses.in_groups_of(2).each  do |grouped_address_col| %>
		<div class="col-lg-12 col-md-12 col-sm-12 primary-dv-main p-0 mrt-20-top" >    
	    <% grouped_address_col.reject(&:blank?).each do |split_address| %>
	      <%= render partial: 'spree/ar/account_management/address/single_address', locals: {form_obj: split_address, url_name: address_path(split_address), method_name: "put",user: user,from_view: "pofile-addresses"}  %>
	    <% end %>
	  </div>
	<% end %>
<% end %>

<div class="col-lg-12 col-md-12 col-sm-12 primary-dv-main p-0 mrt-20-top"  >        
	<%= render partial: 'spree/ar/account_management/address/single_address', locals: {form_obj: addresses.new, url_name: addresses_path(user), method_name: "post",user: user, from_view: "pofile-addresses"}  %>
</div>