<%= form_for @contact_store, url: vendor_contact_stores_path(@vendor.id), html: { method: :post } do |f| %>
  <div>
    Contact <%=@vendor.name%>
  </div>
  <div>
    Store Name <%=@vendor.name%>
  </div>
  <div>
    Order Number <%=@order.number%>
  </div>
  <div>
    Purchased On <%=@order.created_at.strftime("%e/%m/%Y")%>
  </div>
  <div>
    Total Items <%=@order.line_items.count%>
  </div>
  <div>
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
  </div>
  <div class="form-group">
    <%#= f.radio_button :type, 'general' %> General Query<br />
    <%#= f.radio_button :type, 'return' %> Return Request<br />
  </div>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, maxlength: 255, size: 50, class: 'form-control' %>
    <%= f.hidden_field :order_number , value: @order.number.to_s %>
  </div>

  <div class="form-group">
    <%= f.label :query %>
    <%= f.text_area :query, maxlength: 255, size: 50, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit Request", class: 'btn btn-default' %>
  </div>
<% end %>
