<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% ex_contact_name      = @address_fileds_contents.spec_slug('address-field-label-contact-name').last%>
<% ex_contact_number    = @address_fileds_contents.spec_slug('address-field-label-contact-number').last%>
<% ex_contact_address1  = @address_fileds_contents.spec_slug('address-field-label-address-1').last%>
<% ex_contact_address2  = @address_fileds_contents.spec_slug('address-field-label-address-2').last%>
<% ex_contact_address3  = @address_fileds_contents.spec_slug('address-field-label-address-3').last%>
<% ex_contact_town      = @address_fileds_contents.spec_slug('address-field-label-town').last%>
<% ex_contact_state     = @address_fileds_contents.spec_slug('address-field-label-state').last%>
<% ex_contact_country   = @address_fileds_contents.spec_slug('address-field-label-country').last%>
<% new_contact_name     = @address_fileds_contents.spec_slug('address-field-label-new-contact-name').last%>
<% new_contact_number   = @address_fileds_contents.spec_slug('address-field-label-new-contact-number').last%>
<% new_contact_address1 = @address_fileds_contents.spec_slug('address-field-label-new-address-1').last%>
<% new_contact_address2 = @address_fileds_contents.spec_slug('address-field-label-new-address-2').last%>
<% new_contact_address3 = @address_fileds_contents.spec_slug('address-field-label-new-address-3').last%>
<% new_contact_town     = @address_fileds_contents.spec_slug('address-field-label-new-town').last%>
<% new_contact_state    = @address_fileds_contents.spec_slug('address-field-label-new-state').last%>
<% new_contact_country  = @address_fileds_contents.spec_slug('address-field-label-new-country').last%>

<% Globalize.with_locale (I18n.locale) do %> 
  <% address_id = address_type.chars.first %>

  <div class="form-row" data-hook=<%="#{address_type}_inner" %>>

    <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0  plc-gry-col  " id=<%="#{address_id}firstname" %>>
      <label for="validationCustom01"><%=  address_form.object.persisted? ? ex_contact_name.try(:title) : new_contact_name.try(:title)  %></label>
      <%= address_form.text_field :firstname, class: 'form-control', id: "validationCustom01", required: true, placeholder: "ﺔﻴﺴﻧﺮﻔﻟ" %>   

    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0  plc-gry-col "  id=<%="#{address_id}phone" %> >
      <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_number.try(:title)  : new_contact_number.try(:title) %></label>
      <%= address_form.number_field :phone, class: 'form-control',id: "validationCustom02", required: true, placeholder: "971 50 123 4567"  %>   
    </div>
    
    <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0  plc-gry-col " id=<%="#{address_id}address1" %>>
      <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_address1.try(:title)  : new_contact_address1.try(:title) %></label>
      <%= address_form.text_field :address1, class: 'form-control required', id: "validationCustom02",  required: true, placeholder: "ﺔﻴﺴﻧﺮﻔﻟ"  %>         
    </div>
    
    <div class="col-md-12 col-lg-12 col-sm-12 mb-3 plc-gry-col p-0" id=<%="#{address_id}address2" %> >
     <label for="validationCustom02"><%=  address_form.object.persisted? ? ex_contact_address2.try(:title) : new_contact_address2.try(:title)%></label>
      <%= address_form.text_field :address2, class: 'form-control', id: "validationCustom02", placeholder: "ﻮﺤﻤﻟﺎﺑ ﺖﻣ" %>    
    </div>
    
    <div class="col-md-12 col-lg-12 col-sm-12 mb-3 plc-gry-col p-0"  id=<%="#{address_id}address3" %> >
      <label for="validationCustom02"><%=  address_form.object.persisted? ? ex_contact_address3.try(:title)  : new_contact_address3.try(:title) %></label>
      <%= address_form.text_field :address3, class: 'form-control', id: "validationCustom02", placeholder: "ﻮﺤﻤﻟﺎﺑ ﺖﻣ"  %>      
    </div>
    
     <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0"  id=<%="#{address_id}city" %>>
      <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_town.try(:title) : new_contact_town.try(:title) %> </label>
      <%= address_form.text_field :city, class: 'form-control', id: "validationCustom02", required: true  %> 
    </div>
    
     
    <p class="form-group" id=<%="#{address_id}country" %>>
      <label for="">ﻦﻔﺴﻟﺍ</label>
      <%#= address_form.label :country_id do %>
        <!-- <%#= Spree.t(:country) %><abbr class="required" title="required">*</abbr> -->
      <%# end %>

      <span id=<%="#{address_id}country-selection" %>>
        <%= address_form.collection_select :country_id, available_countries, :id, :name, {:selected => address_form.object.country_id.present? ? address_form.object.country_id : Spree::Config.default_country_id}, { class: 'form-control country-select-dp', required: true } %>
      </span>
    </p>
    <% address.country.present? ? address.country : (address.country_id = Spree::Config.default_country_id) %>
    <% if Spree::Config[:address_requires_state] %>
      <p class="form-group" id=<%="#{address_id}state" %>>
        <label for="">ﻦﻔﺴﻟﺍ</label>
        <% have_states = !address.country.states.empty? %>
        <%#= address_form.label :state do %>
          <!-- <%#= Spree.t(:state) %><abbr class='required' title="required" id=<%#="#{address_id}state-required"%>>*</abbr> -->
        <%# end %>

        <%== state_elements = [
           address_form.collection_select(:state_id, address.country.states,
                              :id, :name,
                              {include_blank: true, :prompt => "Please Select the State"},
                              {class: have_states ? 'form-control' : 'form-control hidden',
                              required: have_states,
                              disabled: !have_states}) +
            address_form.text_field(:state_name,
                              class: !have_states ? 'form-control' : 'form-control hidden',
                              required: !have_states,
                              disabled: have_states)
           ].join.gsub('"', "'").gsub("\n", "")
        %>
      </p>
      <noscript>
        <%= address_form.text_field :state_name, class: 'form-control', required: true %>
      </noscript>
    <% end %>
    
  </div>
<% end %>