<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% ex_contact_name      = @address_fileds_contents.spec_slug('address-field-label-contact-name').last%>
<% ex_contact_number    = @address_fileds_contents.spec_slug('address-field-label-contact-number').last%>
<% ex_contact_address1  = @address_fileds_contents.spec_slug('address-field-label-address-1').last%>
<% ex_contact_address2  = @address_fileds_contents.spec_slug('address-field-label-address-2').last%>
<% ex_contact_address3  = @address_fileds_contents.spec_slug('address-field-label-address-3').last%>
<% ex_contact_town      = @address_fileds_contents.spec_slug('address-field-label-town').last%>
<% ex_contact_state     = @address_fileds_contents.spec_slug('address-field-label-state').last%>
<% ex_contact_country   = @address_fileds_contents.spec_slug('address-field-label-country').last%>
<% new_contact_name     = @address_fileds_contents.spec_slug('address-field-label-new-contact-name').last%>
<% new_contact_number   = @address_fileds_contents.spec_slug('address-field-label-new-contact-number').last%>
<% new_contact_address1 = @address_fileds_contents.spec_slug('address-field-label-new-address-1').last%>
<% new_contact_address2 = @address_fileds_contents.spec_slug('address-field-label-new-address-2').last%>
<% new_contact_address3 = @address_fileds_contents.spec_slug('address-field-label-new-address-3').last%>
<% new_contact_town     = @address_fileds_contents.spec_slug('address-field-label-new-town').last%>
<% new_contact_state    = @address_fileds_contents.spec_slug('address-field-label-new-state').last%>
<% new_contact_country  = @address_fileds_contents.spec_slug('address-field-label-new-country').last%>


<% Globalize.with_locale (I18n.locale) do %>
  <% address_id = address_type.chars.first %>
    <div class="form-row" data-hook=<%="#{address_type}_inner" %>>


      <div class="col-md-12 col-lg-12 plc-gry-col col-sm-12 mb-3 p-0" id=<%="#{address_id}firstname" %>>
        <label for="validationCustom02"><%=  address_form.object.persisted? ? ex_contact_name.try(:title) : new_contact_name.try(:title)  %></label>
        <%= address_form.text_field :firstname, class: 'form-control', id: "validationCustom01", required: true, placeholder: "Aya Barad"%>
        <%= hidden_field_tag "from_page",  "account" %> 
      </div>

      <div class="col-md-12 col-lg-12 plc-gry-col col-sm-12 mb-3 p-0" id=<%="#{address_id}phone" %> >
        <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_number.try(:title)  : new_contact_number.try(:title) %></label>
        <%= address_form.number_field :phone, class: 'form-control',id: "validationCustom02", required: true, placeholder: "971 50 123 4567"  %>
      </div>

      <div class="col-md-12 col-lg-12 col-sm-12 plc-gry-col mb-3 p-0" id=<%="#{address_id}address1" %>>
        <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_address1.try(:title)  : new_contact_address1.try(:title) %></label>
        <%= address_form.text_field :address1, class: 'form-control required', id: "validationCustom02",  required: true, placeholder: "P.O. Box 9966"  %>
      </div>

      <div class="col-md-12 col-lg-12 col-sm-12 mb-3 plc-gry-col p-0" id=<%="#{address_id}address2" %> >
        <label for="validationCustom02"><%= address_form.object.persisted? ? ex_contact_address2.try(:title)  : new_contact_address2.try(:title) %></label>
         <%= address_form.text_field :address2, class: 'form-control', id: "validationCustom02", placeholder: address_form.object.persisted? ? ex_contact_address2.try(:title) : new_contact_address2.try(:title) %>
      </div>

      <div class="col-md-12 col-lg-12 col-sm-12 mb-3 plc-gry-col p-0" id=<%="#{address_id}address3" %> >
        <label for=""><%= address_form.object.persisted? ? ex_contact_address3.try(:title)  : new_contact_address3.try(:title) %></label>
        <%= address_form.text_field :address3, class: 'form-control', id: "", placeholder: address_form.object.persisted? ? ex_contact_address3.try(:title)  : new_contact_address3.try(:title)  %>

      </div>

      <p class="form-group" id=<%="#{address_id}country" %>>
        <label for="validationCustom02">Country</label>
        <span id=<%="#{address_id}country-selection" %>>

          <% default_country = Spree::Country.where(name: "United Arab Emirates").last %>
          <%= address_form.collection_select :country_id, default_country.present? ? [default_country] : available_countries , :id, :name, {:prompt => true,selected: 1 }, { class: 'form-control country-select-dp', required: true} %>
        </span>
      </p>

      <% address.country.present? ? address.country : (address.country_id = Spree::Config.default_country_id) %>

      <% if Spree::Config[:address_requires_state] %>
        <p class="form-group" id=<%="#{address_id}state" %>>
          <label  for="validationCustom02">State/Province</label>

          <select id="address_state" name="address[state_id]" class='observe_field select2' data-base-url="<%=suburbs_path(format: :js) %>?state_id=" data-update="#address_suburb" data-current-el-id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_address_suburb'  : "new_address_suburb"%>" >
             <% if  address.new_record? %>
              <option value="">Please Select Your Emirate</option>
            <% end %>
            <%= options_from_collection_for_select(address.country.states, :id, :name, address.state.present? ? address.state_id : "") %>
          </select>
        </p>
        <noscript>
          <%= address_form.text_field :state_name, class: 'form-control', required: true %>
        </noscript>
      <% end %>
      <div class="col-md-12 col-lg-12 col-sm-12 mb-3 p-0" id=<%="#{address_id}city" %> >
        <label  id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_suburb_label'  : "new_address_suburb_label"%>"  for="validationCustom02">Suburb<%#= address_form.object.persisted? ? ex_contact_town.try(:title) : new_contact_town.try(:title) %></label>
        <select id="<%= (address.present?  && address.id.present?) ? address.id.to_s + '_address_suburb'  : "new_address_suburb"%>" class='select2' name="address[suburb_id]">

          <% if address.state.present? %>
            <% suburb_id = address.city.present? ? Spree::Suburb.find_by_name(address.city).id :  "" %>
            <%= options_from_collection_for_select(address.state.suburbs.order(name: :asc), :id, :name, suburb_id  )%>
          <% else %>
            <option>Please Select Your City/Town</option>
          <% end %>

        </select>
      </div>

    </div>

<% end %>

<script>
  $('#new_address_suburb_label').fadeOut(500);
  $('#new_address_suburb').fadeOut(500);
</script>

