<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_btn_contents = @address_contents.from_gen_slug('address-btn-label') %>
<% address_main_content = @address_contents.spec_slug('address-main-heading-desc').last%>
<% new_address_btn      = @address_btn_contents.spec_slug('address-btn-label-new').last%>
<% address_advertisment_content = @address_contents.spec_slug('address-advertisement').last%>


<div class="clearfix"></div>
<div class=" alert  alert-dismissible" id="address-info-sec"></div>
<% Globalize.with_locale (I18n.locale) do %>
  <div class="container">


    <div class="stor-full-top">
      <div class="dv-title text-center col-md-12">
        <h2><%= address_main_content.try(:title) %></h2>
      </div>
      
      <div class="clearfix"></div>
    </div>


    <div class="locan-stor cate-pg ord_pg">
      <%= render  partial: "spree/en/account_management/side_bar_tab" %> 
    <div class="col-lg-10 col-md-10 col-sm-9 p-0 manage-address-pg">
        
      <div class="col-lg-12 col-md-12 col-sm-12 p-0 det-addresss"> 
        
        <div class="col-lg-12 col-md-12 col-sm-12 mana_ge_1">
           
          <div class="col-lg-12 col-md-12 col-sm-12 wet-text lft-rgt-padd">
            <div class="col-lg-9 col-md-9 col-sm-9 add-bard-btn p-0">
            <p> <%=  address_main_content.try(:description)%></p>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-3 add-bard-btn text-right p-0">
             <a id="btn-new-address" href="#"><%=new_address_btn.try(:title) %></a>
            </div>
          </div>
          
          <div class=" alert  alert-dismissible" id="address-info-sec"></div>
            <div  id="user-<%=@user.id%>-addresses-section" >        
	             <%= render partial: 'spree/en/account_management/address/user_addresses_section', locals: {addresses: @user.addresses, user: @user} %>
            </div>
              
        </div>

      </div>

    </div>

      
      
    </div>      
  </div>


  <div class="clearfix"></div>
  <%if address_advertisment_content.image.attached? %>
    <div class="adver-sec">
      <div class="container">
        <div class="adver-sec-mn"> 
          <p class="pull-left"><%= address_advertisment_content.try(:title)%></p>
          <%= image_tag(main_app.url_for(address_advertisment_content.image), height: "127px", width: "1100px") %>
        </div>
      </div>
    </div>
  <% end%>

<% end %>  




<script type="text/javascript">
	$(document).on("click", ".make-primary-checkbox", function(e) {
		$("#make_me_primary_" + this.id).click();
	});
</script>


