<script>

</script>
<% user_contents     = Spree::PageContent.from_gen_slug('user') %>
<% user_btn_contents = user_contents.from_gen_slug('user-btn') %>
<% user_main_contents = user_contents.from_gen_slug('user-main') %>
<% user_fields_contents = user_contents.from_gen_slug('user-field') %>
<% user_personal_content = user_main_contents.spec_slug('user-main-heading-desc').last%>
<% user_measurement_content = user_main_contents.spec_slug('user-main-msr-heading-desc').last%>
<% user_personal_btn_content = user_btn_contents.spec_slug('user-btn-label-save').last%>
<% user_measurement_btn_content = user_btn_contents.spec_slug('user-btn-msr-label-save').last%>
<% user_first_name = user_fields_contents.spec_slug('user-field-label-first-name').last%>
<% user_last_name = user_fields_contents.spec_slug('user-field-label-last-name').last%>
<% user_email = user_fields_contents.spec_slug('user-field-label-email').last%>
<% user_phone_number = user_fields_contents.spec_slug('user-field-label-phone-number').last%>
<% user_birth_date = user_fields_contents.spec_slug('user-field-label-birth-date').last%>
<% user_birth_month = user_fields_contents.spec_slug('user-field-label-birth-month').last%>
<% user_msr_head = user_fields_contents.spec_slug('user-field-msr-label-head').last%>
<% user_msr_shld_lft = user_fields_contents.spec_slug('user-field-msr-shld-lft').last%>
<% user_msr_shld_rht = user_fields_contents.spec_slug('user-field-msr-shld-rgt').last%>
<% user_msr_lft_arm = user_fields_contents.spec_slug('user-field-msr-label-lft-arm').last%>
<% user_country  = user_fields_contents.spec_slug('user-field-label-country').last%>

<div class="clearfix"></div>

<% Globalize.with_locale (I18n.locale) do %>
  <div class="container">

    <div class="stor-full-top">
      <div class="dv-title text-center col-md-12">
        <h2><%= user_personal_content.try(:title) %> </h2>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="locan-stor cate-pg">

      <%= render  partial: "spree/en/account_management/side_bar_tab" %>

      <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg">

        <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">

          <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
            <p><%= user_personal_content.try(:description) %></p>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 wet-frm">

            <div class="col-lg-3 col-md-3 col-sm-3 wet-pro-pic">

              <span id="user-profile-image"><%= render partial: "spree/users/profile_section", locals: {user_profile_image: spree_current_user.profile_image, height: "90", width: "90"} %></span>

              <div class="return_reason-img">
                <div class="img-up-lod">
                  <label style="display: none;" id="bb">Select Image
                    <%= f.file_field :profile_image, size: 60, id: "File", accept: "image/x-png,image/gif,image/jpeg" %>
                  </label>
                  <span id= "file-name"class="text-center"></span>
                </div>
              </div>

            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 wet-ful-frm">

              <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
                <label><%= user_first_name.try(:title) %></label>
                <%= f.text_field :first_name, :class => 'form-control' %>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
                <label><%=  user_last_name.try(:title) %></label>
                <%= f.text_field :last_name, :class => 'form-control' %>
              </div>

              <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
                <label><%= user_email.try(:title) %></label>
                <%= f.email_field :email, :class => 'form-control'  %>
              </div>
              <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
                <label><%=  user_phone_number.try(:title) %></label>
                <%= f.number_field :phone_number, :class => 'form-control' %>
              </div>
              <div class="form-group col-md-6 col-sm-12 col-lg-6 nxt-sell">
                <label><%= user_birth_date.try(:title) %></label>
                <%= f.select :date_of_birth, options_for_select((1..31).to_a.map{|num| [num,num]}, f.object.date_of_birth.to_i),{},{class: "form-control frt-sell"}%>

                <%= f.select :month_of_birth, options_for_select(Date::MONTHNAMES.compact.map{|mon| [mon,mon.downcase]}, f.object.month_of_birth),{:prompt => user_birth_month.try(:title), },{class: "form-control sc-sell"}%>

              </div>
              <div class="form-group col-md-12 col-sm-12 col-lg-12 sub-btn-acc">
                <%= f.submit user_personal_btn_content.try(:title), :class => "xtut" %>
              </div>

            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 wet-text mesur">
            <h2><%= user_measurement_content.try(:title) %></h2>
            <p><%= user_measurement_content.try(:description) %></p>
          </div>

          <div class="clearfix"></div>

          <div class="bust-th col-lg-12 col-md-12 col-sm-12">
            <ul>
              <div class="bust-th col-lg-6 col-md-6 col-sm-6">
                <%= hidden_field_tag "personalized_info", "" %>
                <div class="tab-pane active" id="1b">
                  <div class="bust-th front-tab-mesure">
                    <ul>
                      <h2 class="body2 ms-til text-left">Front</h2>
                      <li class="front-dots"><%= image_tag "front-img.png" %>
                        <div class="dot-11 dot-style  js-product-measurement" id="js-product-measurement-11"><a href="#" data-toggle="modal" data-measurement-id="11" data-target="#lightbox">11</a></div>
                        <div class="dot-13 dot-style js-product-measurement" id="js-product-measurement-13"><a href="#" data-toggle="modal" data-measurement-id="13" data-target="#lightbox">13</a></div>
                        <div class="dot-17 dot-style js-product-measurement" id="js-product-measurement-17"><a href="#" data-toggle="modal" data-measurement-id="17" data-target="#lightbox">17</a></div>
                        <div class="dot-10 dot-style js-product-measurement" id="js-product-measurement-10"><a href="#" data-toggle="modal" data-measurement-id="10" data-target="#lightbox">10</a></div>
                        <!-- <div class="dot-style dot-fill dot-black"><a href="#" data-toggle="modal" data-target="#lightbox"></a></div>-->
                        <div class="dot-1 dot-style js-product-measurement" id="js-product-measurement-1"><a href="#" data-toggle="modal" data-measurement-id="1" data-target="#lightbox">1</a></div>
                        <div class="dot-8 dot-style js-product-measurement" id="js-product-measurement-8"><a href="#" data-toggle="modal" data-measurement-id="8" data-target="#lightbox">8</a></div>
                        <div class="dot-3 dot-style js-product-measurement" id="js-product-measurement-3"><a href="#" data-toggle="modal" data-measurement-id="3" data-target="#lightbox">3</a></div>
                        <div class="dot-5 dot-style  js-product-measurement" id="js-product-measurement-5"><a href="#" data-toggle="modal" data-measurement-id="5"  data-target="#lightbox">5</a></div>
                        <div class="dot-4 dot-style  js-product-measurement" id="js-product-measurement-4"><a href="#" data-toggle="modal" data-measurement-id="4" data-target="#lightbox">4</a></div>
                        <div class="dot-6 dot-style js-product-measurement" id="js-product-measurement-6"><a href="#" data-toggle="modal" data-measurement-id="6" data-target="#lightbox">6</a></div>
                      </li>
                    </ul>

                  </div>

                </div>
              </div>
              <div class="bust-th col-lg-6 col-md-6 col-sm-6">

                <div class="tab-pane" id="2b">

                  <div class="bust-th front-tab-mesure">
                    <ul>
                      <h2 class="body2 ms-til text-left">Back</h2>

                      <li class="front-dots"><%= image_tag "back-img.png" %>
                        <div class="dot-9 dot-style js-product-measurement" id="js-product-measurement-9"><a href="#" data-toggle="modal" data-measurement-id="9" data-target="#lightbox">9</a></div>
                        <div class="dot-16 dot-style js-product-measurement" id="js-product-measurement-16"><a href="#" data-toggle="modal" data-measurement-id="16" data-target="#lightbox">16</a></div>
                        <div class="dot-7 dot-style  js-product-measurement" id="js-product-measurement-7"><a href="#" data-toggle="modal" data-measurement-id="7"  data-target="#lightbox">7</a></div>
                        <div class="dot-12 dot-style js-product-measurement" id="js-product-measurement-12"><a href="#" data-toggle="modal" data-measurement-id="12" data-target="#lightbox">12</a></div>
                        <div class="dot-2 dot-style  js-product-measurement" id="js-product-measurement-2"><a href="#" data-toggle="modal" data-measurement-id="2" data-target="#lightbox">2</a></div>
                        <div class="dot-14 dot-style js-product-measurement" id="js-product-measurement-14"><a href="#" data-toggle="modal" data-measurement-id="14"  data-target="#lightbox">14</a></div>
                        <div class="dot-15 dot-style js-product-measurement" id="js-product-measurement-15"><a href="#" data-toggle="modal" data-measurement-id="15" data-target="#lightbox">15</a></div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <!--        <li><h3 class="fr-marg">Front</h3><%#= image_tag "front-img.jpg", alt: ""%></li>-->
              <!--        <li><h3>Back</h3><%#= image_tag "back-img.jpg", alt: ""%></li>-->

            </ul>



            <div class="sv-acc-btn col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-6 col-md-6 col-sm-6 pro-legand">
                <div class="frt-dx">
                  <div class="matis-rd">
                    <div class="huy">
                      <span class="nbi"></span>
                      <label class="body2">Measurement not entered</label>
                    </div>

                    <div class="huy">
                      <span class="dot-pink"></span>
                      <label class="body2">Measurement entered</label>
                    </div>

                    <div class="huy">
                      <span class="dot-red"></span>
                      <label class="body2">Problem with measurement entered</label>
                    </div>
                    <div class="huy">
                      <span class="dot-black"></span>
                      <label class="body2"> Current measurement user is trying to enter</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 sv-btn-pro">
                <button type="submit" class="acc-sv-btn">Save</button>
              </div>
              <%#= f.submit user_personal_btn_content.try(:title), :class => "acc-sv-btn" %>

            </div>

          </div>


        </div>

      </div>

    </div>

  </div>



  <div class="adver-sec">
    <div class="container">
      <div class="adver-sec-mn"> <img class="img-responsive" src="images/advertize.jpg" alt=""> </div>
    </div>
  </div>
<% end %>



<!--
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_head.try(:title)%></label>
        <%#= f.number_field :head, :class => 'form-control'%>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#=user_msr_shld_lft.try(:title) %></label>
        <%#= f.number_field :left_shoulder, :class => 'form-control', step: :any %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>

  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_shld_rht.try(:title)%></label>
        <%#= f.number_field :right_shoulder, :class => 'form-control'%>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>

  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_lft_arm.try(:title) %></label>
        <%#= f.number_field :left_arm, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>

  </div>
</div> -->


<!--  <div class="form-group">
  <%#= f.collection_select :country, available_countries, :id, :name, {:prompt => f.object.country.present? ? f.object.country : user_country.try(:title) }, { class: 'form-control', required: true } %>
</div> -->


<!--<label class="control-label">Confirm Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>-->


<!--<label class="control-label">Enter a Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>-->
<!--<div class="form-control-legend">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>-->
<script>
    $(function(){
        let measurementsHash = {};
        let test = [];
        let key;
        let name;
        // let productPersProps = [{id: 1, name: "front_body_length_1", presentation: "Front Body Length", video: "https://www.youtube.com/embed/wJDor-mHwCc", text: "<ol> <li> <p class='body2'>Measure your height by holding the tip of the measuring tape on your shoulder </p></li><li> <p class='body2'>Extend the tape measure along the front of your body for the desired length </p></li><li> <p class='body2'>This measurement is easier to do with someone to help</p> </li></ol>"},
        //     {id: 2, name: "back_body_length_2", presentation: "Back Body Length", video: "https://www.youtube.com/embed/umNSfkg0dx0",text: "<ol> <li><p class='body2'>Measure your height from the back by holding the tip of the measuring tape on your shoulder</p></li><li> <p class='body2'>Extend the tape measure along the back of your body for the desired length </p></li><li><p class='body2'> This measurement is easier to do with someone to help</p></li></ol>" },
        //     {id: 3, name: "chest_3", presentation: "Chest",video: "https://www.youtube.com/embed/iWGl7PTt67Y",text: "<ol> <li><p class='body2'>Measure chest size by moving the tape measure under your armpits, around your shoulder blades, and over the top of your bust.  </p></li><li> Don’t pull the tape measure too hard on your chest, it needs to be comfortable </li><li> Pinch the tape measure where it meets together<</p>/li></ol>"},
        //     {id: 4, name: "waist_4", presentation: "Waist", video: "https://www.youtube.com/embed/HGpG57I6YT8",text: "<ol> <li><p class='body2'>Measure your waist by wrapping the tape around your natural waistline </p></li><li> <p class='body2'>Keep the measuring tape parallel to the floor as you extend it around your waistline </p></li><li> <p class='body2'>Be sure you don’t pull it too tight; it needs to be comfortable </p></li><li><p class='body2'> Pinch the tape measure where it meets together</p></li></ol>"},
        //     {id: 5, name: "bust_5", presentation: "Bust",video: "https://www.youtube.com/embed/TpQR_6rFMls",text: "<ol> <li><p class='body2'>Measure bust size by moving the tape measure under your armpits, around your shoulder blades </p></li><li><p class='body2'> Then over your fullest part of your bust </p></p></li><li><p class='body2'> Don’t pull the tape measure too hard on your chest, it needs to be comfortable </p></li><li><p class='body2'> Pinch the tape measure where it meets together</p></li></ol>"},
        //     {id: 6, name: "hips_6", presentation: "Hips",video: "https://www.youtube.com/embed/XN0V3P0Vv0w",text: "<ol> <li><p class='body2'>Measure your hips by first putting your feet together</p> </li><li> <p class='body2'>Wrap a measuring tape straight snug around the widest part of your hips. </p></li><li><p class='body2'>Pinch the tape measure where it meets together</p></li></ol>"},
        //     {id: 7, name: "shoulder_slope_7", presentation: "Shoulder Slope",video: "https://www.youtube.com/embed/lQvvTkiF9jo",text: " <p class='body2'>Place the measuring tape at the base of your neck and extend the tape to the of your shoulder (joint shoulder meets the arm)."},
        //     {id: 8, name: "arm_hole_8", presentation: "Arm Hole",video: "https://www.youtube.com/embed/wJtbuWxH5yg",text: "<ol> <li> <p class='body2'>Place your measurement tape at the shoulder joint </p></li><li> <p class='body2'>Hold it in place and pass the tape under your armpit to meet the tape on the top. </p></li><li> <p class='body2'>Pinch the tape measure where it meets together .</p> </li></ol>"},
        //     {id: 9, name: "shoulder_from_Back_9", presentation: "Shoulder From Back",video: "https://www.youtube.com/embed/nsqmHBg2JiE",text: "<ol> <li><p class='body2'>Place the measuring tape on one point of your shoulder point (joint shoulder meets the arm)</p></li><li> <p class='body2'>Move the tape along your back to the other point of your shoulder</p></li></ol>"},
        //     {id: 10, name: "full_arm_10", presentation: "Full Arm",video: "https://www.youtube.com/embed/ke-h-7P-EzM",text: "<ol> <li><p class='body2'>Place the measuring tape on your shoulder point (joint shoulder meets the arm)</p></li><li><p class='body2'> Move the tape along your till your wrist </p></li></ol>"},
        //     {id: 11, name: "full_neck_11", presentation: "Full Neck",video: "https://www.youtube.com/embed/8LnBvs8oJTQ",text: "<ol> <li><p class='body2'>Wrap the measuring tape as loose or snugly around your neck</p></li></ol>"},
        //     {id: 12, name: "half_neck_12", presentation: "Half Neck",video: "https://www.youtube.com/embed/TicwaNMEBAQ",text: "<ol> <li><p class='body2'>Place the tip of the measurement tape at the centre of your back close to your neck </p></li><li><p class='body2'> Move the tape along your arm till you reach your wrist </p></li><li> <p class='body2'>This measurement is easier to do with someone to help </p></li></ol>"},
        //     {id: 13, name: "half_shoulder_13", presentation: "Half Shoulder",video: "https://www.youtube.com/embed/LwThcifmqFE",text: "<ol> <li><p class='body2'>Place the tip of the measurement tape at the centre of your back close to your neck </p></li><li> <p class='body2'>Place the tip of the measurement tape at the centre of your back close to your neck</p> </li><li> <p class='body2'>This measurement is easier to do with someone to help </p></li></ol>"},
        //     {id: 14, name: "shoulder_elbow_14", presentation: "Shoulder Elbow",video: "https://www.youtube.com/embed/3PF1hVBA4Po",text: "<ol> <li><p class='body2'>Place the measuring tape at the shoulder </p></li><li><p class='body2'> joint Extend the tape to your elbow </li></ol>"},
        //     {id: 15, name: "elbow_wrist_15", presentation: "Elbow Wrist",video: "https://www.youtube.com/embed/jXcCKbpEcm8",text: "<ol> <li><p class='body2'>Place the measuring tape on your elbow and extend on your arm to your wrist.</p></li></ol>"},
        //     {id: 16, name: "wrist_16", presentation: "Wrist",video: "https://www.youtube.com/embed/I6jdHOR0Z_Y",text: "<ol> <li><p class='body2'>Wrap a measuring tape around your wrist at the chosen point </p></li><li><p class='body2'> Make the wrap as snug or as loose as you desire </p></li></ol> "},
        //     {id: 17, name: "v_neck_length_17", presentation: "V Neck Length",video: "https://www.youtube.com/embed/OoFMt1q6QVI",text: "<ol> <li><p class='body2'>Place the tip of the measurement tape at the base of the side of your neck </p></li><li><p class='body2'> Extend the tape to the centre of your chest to your desired height</p> </li></ol>"}]


        $('#lightbox').on('show.bs.modal', function(e) {
            let $modal = $(this);
            let $target  = $(e.relatedTarget);
            let productPersProps = BW.productPersProps;

            key = $target.data('measurement-id');
            let thisProductPersProps = productPersProps.find(x => x.id == key);
            name = thisProductPersProps.name

            $modal.find('.modal-body .lenth-min').html("<%= j render(:partial => 'spree/shared/measurements/popup_measurement_field') %>");
            $modal.find('.key').html(key);

            console.log({all:productPersProps, thisProduct:thisProductPersProps})
            if(!!thisProductPersProps){
                $modal.find('.js-measurement-label').html(thisProductPersProps.presentation);
                $modal.find('iframe').attr("src",thisProductPersProps.video)
                $modal.find('.body21').html(thisProductPersProps.text)
            }

            let currentMeasurementsRaw = $('input#personalized_info').val();
            let jsonConverted = JSON.parse(currentMeasurementsRaw)

            if(!!currentMeasurementsRaw){
                let currentMeasurement = jsonConverted[key];

                if(currentMeasurement && currentMeasurement.value){
                    $('.js-measurement-input').val(currentMeasurement.value);
                }
            }
        })

        $('body').on('click', '#save-my-measurement',function(e){
            let existingHash = JSON.parse($('input#personalized_info').val());
            let value = JSON.parse($('.js-measurement-input').val());
            existingHash[name] = {key,value};
            $('input#personalized_info').val(JSON.stringify(existingHash));
            $('input#personalized_info').trigger('change');
            $('#lightbox').modal('hide');

        })
    })
</script>



<script>

    $(function () {

        $(".tab").children().first().click(); //Load first image by default on page load
        let firstTabFirstOption = $("#neck_shape .option-value").first()

        $('input#personalized_info').val(<%== (spree_current_user.present? && spree_current_user.physical_measurment.present?) ? spree_current_user.physical_measurment.to_json : '{}'.to_json %>);

        console.log($('input#personalized_info').val());

        manager = new cartManager({productPersProps:BW.productPersProps});
        manager.init();
        firstTabFirstOption.click()
    });

    <!--<script type="text/javascript">-->
    <!--  $(function(){-->
    <!--    $('input#personalized_info').val(JSON.stringify(<%#== @user.physical_measurment.present? ? @user.physical_measurment.to_json : '{}' %>));-->
    <!--  });-->
</script>
