<div class="clearfix"></div>

<div class="container">

  <div class="stor-full-top">
    <div class="dv-title text-center col-md-12">
      <h2>Reviews</h2>
    </div>
    
    <div class="clearfix"></div>
  </div>

  <div class="locan-stor cate-pg">
    <%= render  partial: "spree/en/account_management/side_bar_tab" %> 
    <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg ed-top">
      
      <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">
      
      <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. </p>
      </div>
      
      <div class="col-lg-12 col-md-12 col-sm-12 wet-frm">
      
        <% if @user.reviews.any? %>
          <% @user.reviews.each do |review| %>
           <%= render partial: "spree/en/account_management/reviews/review", locals: {review: review} %>
          <% end %>

        <% else %>
          <p> No Review(s) Found </p>
        <% end %>
        <div class="clearfix"></div>
        <div class="lod-btn text-center">
          <button>LOAD MORE</button>
        </div>
     
      </div>
      <div class="back_to_top" onClick="topFunction()" id="myBtn">
       <%= image_tag "back-to-top.png", alt: "" %>
      </div>
      
      </div>      
    </div>
  </div>
</div>

<div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"> 
      <%= image_tag "advertize.jpg",class: "img-responsive", alt: "" %>
       </div>
  </div>
</div>


  




<script>
  $(document).ready(function() {
        
        
    $('.star').each(function(){
      $(this).click(function(){
        $(this).parents('.review-details-pro').find('.add_review_form').show();
      });
    });
    
    $('.cancel-btn').each(function(){
      $(this).click(function(e){
        e.preventDefault();
        $('.add_review_form').hide();
        return false;
      });
    });
  });
  
      
      

      
      
  var text_max = 1500;
  $('#count_message').html(text_max + ' ');

  $('#text').keyup(function() {
    var text_length = $('#text').val().length;
    var text_remaining = text_max - text_length;
    
    $('#count_message').html(text_remaining + ' ');
  }); 
      
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }         
    
</script>

 <script>
  var ratings = document.getElementsByClassName('rating');

  for (var i = 0; i < ratings.length; i++) {
      var r = new SimpleStarRating(ratings[i]);

      ratings[i].addEventListener('rate', function(e) {
          console.log('Rating: ' + e.detail);
      });
  }
</script>