<!-- <div class="clearfix"></div>
<div class="container">
  <div class="stor-full-top">
    <div class="dv-title text-center col-md-12">
      <h2>My Stores</h2>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="locan-stor cate-pg">
    <%#= render  partial: "spree/en/account_management/side_bar_tab" %> 
    <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg ed-top">
      <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">
	      <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. </p>
	      </div>
      
	      <div class="col-lg-12 col-md-12 col-sm-12 wet-frm" id="user-<%= @user.id%>-store-section">

          <%# if @user.stores.any? %>
            <%# @user.stores.each do |store| %>
              <%#= render partial: "spree/en/account_management/users/stores_section", locals: {store: store} %>
            <%# end %>
          <%# else %>
            <p> No Store(s) Found </p>
          <%# end %>
        </div>
				<div class="clearfix"></div>
				<div class="lod-btn text-center">
					<button>LOAD MORE</button>
				</div>
	      <div class="back_to_top" onClick="topFunction()" id="myBtn">
	       <%#= image_tag "back-to-top.png", alt: "" %>
	      </div>
      </div>      
    </div>
  </div>
</div>
<div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"> 
      <%#= image_tag "advertize.jpg",class: "img-responsive", alt: "" %>
       </div>
  </div>
</div>

<script>

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }         
    
</script> -->


<div class="clearfix"></div>
<div class="container">
  <div class="stor-full-top">
    <div class="dv-title text-center col-md-12">
      <h2>Stores</h2>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="locan-stor cate-pg ord_pg">
    <%= render  partial: "spree/en/account_management/side_bar_tab" %>
    <!--- inner section start ----->
    <div class="col-lg-10 col-md-10 col-sm-9 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0 man-str-pg">
          <div class="col-lg-12 col-md-12 col-sm-12 wet-text"><br>
            <h4 class="heading1"><% @user.stores %></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. </p>
          </div>
          
          <div class="clearfix"></div>
          
          <div class="nec-dv text-right">
          <div class="vw-tep in_line">

          <ul class="phon">
            <li class="dropdown dp-innr"><a href="#" class="drp-tp" data-toggle="dropdown">Sort By</a>
              <ul class="dropdown-menu">
                <li><a class="active" href="#">Lorem</a></li>
                <li><a class="" href="#">Lorem</a></li>
              </ul>
            </li>
          </ul>
        </div>
        </div>
        
        <div class="clearfix"></div>
          <div class="stor-mng-dv" id="user-<%= @user.id%>-store-section">
            <ul class="list_item_s">
              <%= render partial: "spree/en/account_management/users/stores_section", locals: {stores: @user.stores} %>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="lod-btn text-center">
            <button>LOAD MORE</button>
          </div>
          <div class="back_to_top" onClick="topFunction()" id="myBtn">
           <%= image_tag "back-to-top.png",alt: "" %>
           </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- inner section end ----->
<div class="clearfix"></div>
<!-------- side menu modal buttons -------------->
<!-- <div class="mobile_meni_btm">
  <ul>
    <li><a href="index-en.html">
      <img src="images/home-icon-en.png" alt="">
      <br>
      Home
    </a></li>
    <li><a href="account-wishlist-en.html">
      <img src="images/wish_list_icon.png" alt="">
      <br>
      Wishlist
    </a></li>
    <li><a href="#">
      <img src="images/cart-icon.png" alt="">
      <br>
      Cart
    </a></li>
    <li>
      <a data-toggle="modal" data-target="#LeftSideModal" class="btm-ins"> 
        <img src="images/account-icon-mobile.png" alt="">
        <br>
      Account
    </a>
    </li>
  </ul>
</div> -->
<!--------------- side menu modal buttons --------------------->
<!--- advertise ment section start--->
<div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn">
     <%= image_tag "advertize.jpg",class: "img-responsive", alt: "" %>
      </div>
  </div>
</div>
<!--- advertise ment section end--->


<script>

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }         
    
</script>
