<% @wishlist = @user.wishlists.first %>
<% wishlist_main_content     = Spree::PageContent.from_gen_slug('wishlist').spec_slug('wishlist-main-heading-desc').last %>

<% wishlist_label_advertisment = Spree::PageContent.spec_slug('wishlist-label-advertisement').last %>

<div class="clearfix"></div>

<% Globalize.with_locale (I18n.locale) do %>
  <div class=" alert  alert-dismissible" id="wishlist-info-sec"></div>
  <div class="container">
    <div class="stor-full-top">
      <div class="dv-title text-center col-md-12">
        <h2><%= wishlist_main_content.title%></h2>
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="locan-stor cate-pg">
      <%= render  partial: "spree/en/account_management/side_bar_tab" %>

      <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg ed-top whis_lent-rgt">
        <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">

          <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
          <p><%= wishlist_main_content.description%></p>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 wet-frm" id="user-<%=@user.id%>-wishlist-section">
            <%= render partial: "spree/en/account_management/wishlist_collection", locals: {wishlist: @wishlist} %>
            <div class="clearfix"></div>
<!--            <div class="lod-btn text-center">-->
<!--              <button>LOAD MORE</button>-->
<!--            </div>-->
          </div>

        <div class="back_to_top" onClick="topFunction()" id="myBtn">
          <%= image_tag "top-ico.svg", alt: "" %>
        </div>
        </div>
      </div>
    </div>
  </div>

  <% if wishlist_label_advertisment.image.attached? %>
    <div class="adver-sec">
      <div class="container">
        <p><%= wishlist_label_advertisment.try(:title) %></p>
        <div class="adver-sec-mn">
          <%= image_tag(main_app.url_for(wishlist_label_advertisment.image), height: "127", width: "1100", class: "img-responsive") %>
           </div>
      </div>
    </div>
  <% end %>
<% end %>



<script>

  window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

</script>