<% user_contents     = Spree::PageContent.from_gen_slug('user') %>
<% user_btn_contents = user_contents.from_gen_slug('user-btn') %>
<% user_main_contents = user_contents.from_gen_slug('user-main') %>
<% user_fields_contents = user_contents.from_gen_slug('user-field') %>
<% user_personal_content = user_main_contents.spec_slug('user-main-heading-desc').last%>
<% user_measurement_content = user_main_contents.spec_slug('user-main-msr-heading-desc').last%>
<% user_personal_btn_content = user_btn_contents.spec_slug('user-btn-label-save').last%>
<% user_measurement_btn_content = user_btn_contents.spec_slug('user-btn-msr-label-save').last%>
<% user_first_name = user_fields_contents.spec_slug('user-field-label-first-name').last%>
<% user_last_name = user_fields_contents.spec_slug('user-field-label-last-name').last%>
<% user_email = user_fields_contents.spec_slug('user-field-label-email').last%>
<% user_phone_number = user_fields_contents.spec_slug('user-field-label-phone-number').last%>
<% user_birth_date = user_fields_contents.spec_slug('user-field-label-birth-date').last%>
<% user_birth_month = user_fields_contents.spec_slug('user-field-label-birth-month').last%>
<% user_msr_head = user_fields_contents.spec_slug('user-field-msr-label-head').last%>
<% user_msr_shld_lft = user_fields_contents.spec_slug('user-field-msr-shld-lft').last%>
<% user_msr_shld_rht = user_fields_contents.spec_slug('user-field-msr-shld-rgt').last%>
<% user_msr_lft_arm = user_fields_contents.spec_slug('user-field-msr-label-lft-arm').last%>
<% user_country  = user_fields_contents.spec_slug('user-field-label-country').last%>

<div class="clearfix"></div>

<% Globalize.with_locale (I18n.locale) do %> 
  <div class="container">
    <div class="stor-full-top" dir="rtl">
      <div class="dv-title text-center col-md-12">
        <h2><%= user_personal_content.try(:title) %></h2>
      </div>    
    </div>
    
    <div class="clearfix"></div>
    
    <div class="locan-stor cate-pg" dir="rtl"> 
    
       <!--- inner section start ----->    
      <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg" dir="rtl">      
        <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set" dir="rtl">
        
        <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
        <p> <%= user_personal_content.try(:description) %></p>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 wet-frm">      
          <div class="col-lg-9 col-md-9 col-sm-9 wet-ful-frm" dir="rtl">
         
            <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
              <label><%= user_first_name.try(:title) %></label>
              <%= f.text_field :first_name, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
              <label><%=  user_last_name.try(:title) %></label>
              <%= f.text_field :last_name, :class => 'form-control' %>
            </div>
       
            <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
          <label><%= user_email.try(:title) %></label>
          <%= f.email_field :email, :class => 'form-control'  %>
         </div>
            <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
          <label><%=  user_phone_number.try(:title) %></label>
          <%= f.number_field :phone_number, :class => 'form-control' %>
         </div>
          <div class="form-group col-md-6 col-sm-12 col-lg-6 nxt-sell">
          <label><%= user_birth_date.try(:title) %></label>
          <%= f.select :date_of_birth, options_for_select((1..31).to_a.map{|num| [num,num]}, f.object.date_of_birth.to_i),{},{class: "form-control frt-sell"}%>

          <%= f.select :month_of_birth, options_for_select(Date::MONTHNAMES.compact.map{|mon| [mon,mon.downcase]}, f.object.month_of_birth),{:prompt => user_birth_month.try(:title), },{class: "form-control sc-sell"}%>
         </div>
           <div class="form-group col-md-12 col-sm-12 col-lg-12 sub-btn-acc">
          <%= f.submit user_personal_btn_content.try(:title), :class => "xtut" %>
         </div>
         
         </div>

         <div class="col-lg-3 col-md-3 col-sm-3 wet-pro-pic" dir="rtl">
          <span id="user-profile-image"><%= render partial: "spree/users/profile_section", locals: {user_profile_image: spree_current_user.profile_image, height: "90", width: "90"} %></span>

          <div class="return_reason-img">
            <div class="img-up-lod">
              <label style="display: none;" id="bb">اختر صورة
                <%= f.file_field :profile_image, size: 60, id: "File", accept: "image/x-png,image/gif,image/jpeg" %>
              </label>
              <span id= "file-name"class="text-center"></span>
            </div>
          </div>

         </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 wet-text mesur">
          <h2><%= user_measurement_content.try(:title) %></h2>
          <p> <%= user_measurement_content.try(:description) %></p>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="bust-th col-lg-12 col-md-12 col-sm-12">
          <ul>     
            <li><h3>Back</h3><%= image_tag "back-img.jpg", alt: ""%></li>
            <li><h3 class="fr-marg">Front</h3><%= image_tag "front-img.jpg", alt: ""%></li>
          </ul>
        
          <div class="sv-acc-btn col-lg-12 col-md-12 col-sm-12">
            <button class="acc-sv-btn">ﻌﺘﻳ ﺕﺎﻐﻟ</button>
          </div>
        
        </div>
        
        
      </div>
        
      </div>
       <!--- inner section end ----->    
      
      <!--- profile section start ----->
      <%= render  partial: "spree/ar/account_management/side_bar_tab" %>
      <!--- profile section end ----->
      </div>
    
    
    
  </div>

  <div class="adver-sec">
    <!--- advertise ment section start--->
    <div class="container">
      <div class="adver-sec-mn"><%= image_tag "advertize.jpg", alt: "" %> </div>
    </div>
  </div>

<% end %>

<!-- 
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_head.try(:title)%></label>
        <%#= f.number_field :head, :class => 'form-control'%> 
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#=user_msr_shld_lft.try(:title) %></label>
        <%#= f.number_field :left_shoulder, :class => 'form-control', step: :any %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
    
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_shld_rht.try(:title)%></label>
        <%#= f.number_field :right_shoulder, :class => 'form-control'%>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
   
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_lft_arm.try(:title) %></label>
        <%#= f.number_field :left_arm, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
    
  </div>
</div> -->


<!--  <div class="form-group">
  <%#= f.collection_select :country, available_countries, :id, :name, {:prompt => f.object.country.present? ? f.object.country : user_country.try(:title) }, { class: 'form-control', required: true } %>
</div> -->


<!--<label class="control-label">Confirm Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>-->


<!--<label class="control-label">Enter a Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>-->
<!--<div class="form-control-legend">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>-->