<div class="clearfix"></div>
<div class="container">
	<div class="stor-full-top" dir="rtl">
		<div class="dv-title text-center col-md-12">
		<h2>متجري</h2>
		</div>    
	</div>

	<div class="clearfix"></div>
	<div class="locan-stor cate-pg" dir="rtl"> 
		<div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg ed-top" dir="rtl">

			<div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">

				<div class="col-lg-12 col-md-12 col-sm-12 wet-text">
				<p> ,ﺔﻴﺴﻧﺮﻔﻟﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ ﻢﺗﻭ ﻞﻛ .ﻢﺛ ﻥﺪﻣ ﺭﻮﺤﻤﻟﺎﺑ ﺖﻣﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ ﻢﺗﻭ ﻞﻛ .ﻢﺛ ﻥﺪﻣ  ,ﺔﻴﺴﻧﺮﻔﻟﺍ ﻝّﻫﺃ ﻡﺎﻗﻭ ﻦﻋ ﻥﻻ ,ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟﺍ </p>
				</div>


			<div class="col-lg-12 col-md-12 col-sm-12 wet-frm" id="user-<%= @user.id%>-store-section">
      	<%= render partial: "spree/ar/account_management/users/stores_section", locals: {stores: @user.stores} %>
			</div>

			<div class="clearfix"></div>
			<div class="lod-btn text-center">
			<button>تحميل المزيد</button>
			</div>


			<div class="back_to_top" onClick="topFunction()" id="myBtn"><%= image_tag "back-to-top.png", alt: ""%> </div>
			</div>      
		</div>
		<%= render  partial: "spree/ar/account_management/side_bar_tab" %>
	</div>
</div>
<div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"> <%= image_tag "advertize.jpg", alt: "", class: "img-responsive"%> </div>
  </div>
</div>






  




<script>

  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }         
    
</script>

