<% @wishlist = @user.wishlists.first %>
<% wishlist_main_content     = Spree::PageContent.from_gen_slug('wishlist').spec_slug('wishlist-main-heading-desc').last %>

<div class="clearfix"></div>

<% Globalize.with_locale (I18n.locale) do %> 
  <div class="container">
    <div class="stor-full-top" dir="rtl">
      <div class="dv-title text-center col-md-12">
        <h2><%= wishlist_main_content.title%></h2>
      </div>    
    </div>
    
    <div class="clearfix"></div>
    
    <div class="locan-stor cate-pg" dir="rtl"> 
    
       <!--- inner section start ----->    
      <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg ed-top whis_lent-rgt" dir="rtl">
        
        <div class="col-lg-12 col-md-12 col-sm-12 udda-cl">
        
        	 <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
  		  <p> <%= wishlist_main_content.description%></p>
  		  </div>
  		  
        <div class="col-lg-12 col-md-12 col-sm-12 wet-frm" id="user-<%=@user.id%>-wishlist-section">
          <%= render partial: "spree/ar/account_management/wishlist_collection", locals: {wishlist: @wishlist} %>
	        <div class="col-lg-12 col-md-12 col-sm-12 wet-frm">
	         <div class="clearfix"></div>
	         <div class="lod-btn text-center">
	         <button>ﻌﺘﻳ ﺕﺎﻐﻟ</button>
	         </div>
	         <div class="back_to_top" onClick="topFunction()" id="myBtn"><%= image_tag "back-to-top.png", alt: "" %> </div>
	        </div>
        </div>
        
    
        
        </div>      
      </div>
       <!--- inner section end ----->    
      
      <!--- profile section start ----->
       <%= render  partial: "spree/ar/account_management/side_bar_tab" %>
      <!--- profile section end ----->
    </div>
  </div>

  <div class="adver-sec">
    <div class="container">
      <div class="adver-sec-mn"><%= image_tag "advertize.jpg", alt: "", class: "img-responsive" %> </div>
    </div>
  </div>
<% end %>




<script>

	window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}					
		
</script>