
<div  id="order_summary-<%main_order.id%>" class = "small_detail_box_<%= main_order.id %>">
  <div class="odr-box bg-gry-set" dir="rtl"  id="order" data-hook="">     
    <%= render partial: "spree/ar/account_management/orders/main_order_details", locals: {order: main_order} %>

    <div class="clearfix"></div>     
    <div class="dvd"></div>          
    <div class="clearfix"></div>

    <div class="deli_ver_y" dir="rtl">
     <ul class="ress">
        <li class="bd_green">
        <%= image_tag "recieved-icon-green.png", alt: "" %>
        <br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
        <li class="divid_line">
        <%= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="bd_green">
        <%= image_tag "progress-icon-black-green.png", alt: "" %>
        <br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
        <li class="divid_line">
        <%= image_tag "divider-line.png", alt: "" %>
        </li>
        <li class="<%= (main_order.complete? && main_order.shipped?) ? 'bd_green' : '' %>">
        <%= image_tag  (main_order.complete? && main_order.shipped?) ? 'deliverd-icon-green.png' : 'deliverd-icon-grey.png', alt: "" %>
        <br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
      </ul>

    </div>

    <div class="cv-set-lal">
      <div class="pur_ch">

        <% if  main_order.shipments.any? %>
          <% main_order.shipments.each do |ship| %>
            <ul class="col-lg-6 col-md-6 col-sm-6 p-0 ab-rht">
              <li><% ship.shipped_at.present? ? ship.shipped_at.strftime("%e/%m/%Y") +  " ﺫﺇ " : "" %></li>
              <li class="he_ad_bold_2"> <% ship.tracking.present? ? "ﻦﻴﺣ ﻥﺃ:" + ship.tracking.to_s : "" %></li>
            </ul>
          <% end %>
        <% end %>
        <ul class="col-lg-6 col-md-6 col-sm-6 p-0 ab-rht text-right">
          <li><font> #<%= main_order.number %></font></li>
          <% if main_order.parent_order.present? %>
            <li class="he_ad-1">ﺔﻳﺪﻴﻠﻘﺘﻟ<font>(<%= main_order.products.map{|s| s.vendor.try(:name)}.uniq.reject(&:blank?).join(",") %>)</font></li>
          <% end %>
        </ul>     
      </div>

      <div class="der-mn">
        <ul class="bsp-kj">
          <% main_order.line_items.each do |line_item| %>
            <% variant = line_item.variant %>
            <% product = variant.product %>
              <li>
                <%= link_to small_image(product, itemprop: "image"), product_path(product) %>
              </li>
          <% end %>
        </ul>

        <ul class="sw-ord-button">
          <button class="show_details_<%=main_order.id%>">ﻌﺘﻳ ﺕﺎﻐﻟ </button>
        </ul>
      </div>
    </div>
  </div>
</div>




<div class="odr-box details_box_<%= main_order.id%>" style= "display: none;" dir="rtl">     



  <%= render partial: "spree/ar/account_management/orders/main_order_details", locals: {order: main_order} %>

  <div class="clearfix"></div>     
  <div class="dvd"></div>          
  <div class="clearfix"></div>


 <!--  <div class="bg-gry-set pad-20" dir="rtl">
    <div class="deli_ver_y">
      <h2 class="retu_h1"> ﻝﺪﺳُﺍﻭ ﺽﺭﻷﺍ  <span> (Store Name)</span></h2>
      <ul class="ress">
        <li class="bd_green"><img src="images/return-icon-green.png" alt=""><br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
        <li class="divid_line"><img src="images/divider-line.png" alt=""></li>
        <li><img src="images/progress-icon-blk.png" alt=""><br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
        <li class="divid_line"><img src="images/divider-line.png" alt=""></li>
        <li><img src="images/complete-icon-grey.png" alt=""><br><font class="bd-4">ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
      </ul>

      <ul class="nam_cle">
        <li><a href="#"><img src="images/add-review-profile.jpg" alt=""></a><span><a href="#">1x ﺔﻳﺪﻴﻠﻘﺘﻟ </a></span></li><br>
        <li class="sno-line"><span></span></li><br>
        <li><a href="#"><img src="images/add-review-profile.jpg" alt=""></a><span><a href="#">1x ﺔﻳﺪﻴﻠﻘﺘﻟ</a></span></li><br>
      </ul>

      <div class="vol_rma text-left">
        <button>ﻌﺘﻳ ﺕﺎﻐﻟ</button>
      </div>

    </div>
  </div> -->

  <!-- <div class="clearfix"></div>
  <div class="dvd"></div>  
  <div class="clearfix"></div> -->

  <!-- <div class="pad-20-none" dir="rtl">
    <div class="deli_ver_y">
      <h2 class="retu_h1"> ﻝﺪﺳُﺍﻭ ﺽﺭﻷﺍ  <span> (Store Name)</span> </h2>
        <ul class="ress">
          <li class="bd_green"><img src="images/return-icon-green.png" alt=""><br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
          <li class="divid_line"><img src="images/divider-line.png" alt=""></li>
          <li class="bd_green"><img src="images/progress-icon-green.png" alt=""><br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
          <li class="divid_line"><img src="images/divider-line.png" alt=""></li>
          <li class="bd_green"><img src="images/complete-icon-green.png" alt=""><br><font>ﺔﻳﺪﻴﻠﻘﺘﻟﺍ ﻦﻔﺴﻟ</font></li>
        </ul>

        <ul class="nam_cle">
          <li><a href="#"><img src="images/add-review-profile.jpg" alt=""></a><span><a href="#"> 1x ﺔﻳﺪﻴﻠﻘﺘﻟ</a></span></li>
        </ul>



        <div class="vol_rma text-left">
          <button>ﻌﺘﻳ ﺕﺎﻐﻟ</button>
        </div>

    </div>
  </div> -->


  <%= render partial: "spree/ar/account_management/orders/sub_orders_section", locals: {sub_orders: main_order.sub_orders, main_order: main_order} %>


  <div class="hide_detail_btn text-left">
    <button class = 'hide_details_<%= main_order.id%>'>ﻥﺪﻣ ﻦﻔﺴﻟﺍ</button>
  </div>


</div>


<script type="text/javascript">
  $('.'+ "show_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").hide();
      $('.' + "details_box_<%= main_order.id%>").slideDown('fast');
  });
    
  $('.' + "hide_details_<%= main_order.id%>").click(function(){
      $('.' + "small_detail_box_<%= main_order.id %>").show();  
      $('.' + "details_box_<%= main_order.id%>").slideUp('fast');
  });
    
</script>