<% lang = I18n.locale %>
<% wishlist_error_content = Spree::PageContent.from_gen_slug('wishlist') %>
<% wishlist_add_success_msg_content  = wishlist_error_content.spec_slug('wishlist-success-msg-add').last %>
<% wishlist_error_before_msg_content  = wishlist_error_content.spec_slug('wishlist-error-before-msg-add').last %>
<% wishlist_error_after_msg_content  = wishlist_error_content.spec_slug('wishlist-error-after-msg-add').last %>
<% @user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>

<% user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>
<% is_product_wished = user_wishlist_products.present? ? user_wishlist_products.select{|s| s.variant.product == @product}.last : "" %>

<% Globalize.with_locale (I18n.locale) do %>
	<% if @wished_product.errors.blank? %>
		toastr.success("<%= @wished_product.variant.name.to_s%> <%= wishlist_add_success_msg_content.try(:title) %>")
		$('#wishlist_confirm_modal').modal('hide');
		// $("#delete_line_item_<%= @line_item_id%>").click();
		<% if params[:view_from].present? && params[:view_from] == "cart_page" %>
			toastr.success("<%= @wished_product.variant.name.to_s%> has been successfully deleted from your cart");
		<% end %>
	<% else %>
		toastr.error("<%= wishlist_error_before_msg_content.try(:title)%> <%= @wished_product.variant.name %> <%= wishlist_error_after_msg_content.try(:title) %>")
	<% end %>
<% end  %>

$('#product_wished_or_not_sec_' + "<%= @wished_product.variant.product.id %>").html("<%= escape_javascript render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/shared/product_wished_section", locals: { user_wishlist_products: @user_wishlist_products,product:@wished_product.variant.product } %>");

<% if params[:view_from].present? && params[:view_from] == "cart_page" %>
	location.reload();
<% end %>

$('#wishlist-form').html("<%= escape_javascript render partial: "spree/products/wishlist_form_action_button",locals: {product: @wished_product.variant.product} %>");
$("#wishlist-count").html("<%= @user_wishlist_products.present? ?  @user_wishlist_products.count : 0 %>");
$('#mobile_wish_list_count').html("<%= @user_wishlist_products.present? ?  @user_wishlist_products.count : 0 %>");
