<% lang = I18n.locale %>
<% @user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>
<% user_wishlist_products = (spree_current_user.present? && spree_current_user.wishlists.present?) ?  spree_current_user.wishlists.first.wished_products : "" %>

<% is_product_wished = user_wishlist_products.present? ? user_wishlist_products.select{|s| s.variant.product == @product}.last : "" %>
<% if @wished_product.errors.any? %>
	toastr.error("<%= Spree::PageContent.from_gen_slug('wishlist-error-msg').spec_slug('wishlist-error-msg-delete').last.try(:title) %><br><%= @wished_product.errors.messages%>")
<% else %>
	var html = "<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/account_management/wishlist_collection", locals: {wishlist: spree_current_user.wishlists.first} %>"
	$("#user-"+ <%= spree_current_user.id %> + "-wishlist-section").html(html);
	toastr.success("<%= Spree::PageContent.from_gen_slug('wishlist-success-msg').spec_slug('wishlist-success-msg-delete').last.try(:title) %>")
<% end %>

$('#product_wished_or_not_sec_' + "<%= @wished_product.variant.product.id %>").html("<%= escape_javascript render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/shared/product_wished_section", locals: { user_wishlist_products: @user_wishlist_products,product:@wished_product.variant.product } %>");
<%# if params[:view_from].present? && params[:view_from] == "cart_page" %>
//	setTimeout(location.reload.bind(location), 3000);
<%# end %>
  $('#wishlist-form').html("<%= escape_javascript render partial: "spree/products/wishlist_form_action_button",locals: {product: @wished_product.variant.product} %>");
setTimeout(
    function()
    {
        $('.alert').hide()
    }, 5000);
$("#wishlist-count").html("<%= @user_wishlist_products.present? ?  @user_wishlist_products.count : 0 %>");
$('#mobile_wish_list_count').html("<%= @user_wishlist_products.present? ?  @user_wishlist_products.count : 0 %>");






