<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_btn_contents = @address_contents.from_gen_slug('address-btn-label') %>
<% @address_fileds_contents = @address_contents.from_gen_slug('address-field-label') %>

<% @user_shipping_address = (user.present? && user.shipping_address.present?) ?user.shipping_address.id  : "" %>
<% @user_billing_address = (user.present? && user.billing_address.present?) ? user.billing_address.id: "" %>

<% primary_address  = @address_contents.spec_slug('address-primary-heading').last%>
<% new_address      = @address_contents.spec_slug('address-new-address-heading').last%>
<% btn_primary      = @address_btn_contents.spec_slug('address-btn-label-primary').last%>
<% existing_address = @address_contents.spec_slug('address-existing-heading').last%>
<% @is_primary      = (@user_shipping_address || @user_billing_address ) == form_obj.id %>
<% update_address_btn   = @address_btn_contents.spec_slug('address-btn-label-save').last%>
<% save_address_btn     = @address_btn_contents.spec_slug('address-btn-label-new-save').last%>
<% delete_address_btn   = @address_btn_contents.spec_slug('address-btn-label-delete').last%>

<% Globalize.with_locale (I18n.locale) do %> 
  <div class="<%=  (from_view.present? && from_view == "address-checkout") ? "" : "col-md-4 well" %> <%= @is_primary ? "primary-address " : "" %>">
    <div class="panel-heading">
       <h3 class="panel-try(:title) pull-left"><%= @is_primary ? primary_address.try(:title) : (form_obj.persisted? ? existing_address.try(:title) : new_address.try(:title)) %></h3>
       
       <% if form_obj.persisted? && !@is_primary %>
        <%=link_to btn_primary.try(:title) ,make_address_primary_path(id:form_obj.id),:class => "btn btn-success pull-right",:remote => true%> 
       <% end %>
       

    </div>
    <div class="panel-body">
      <%= form_for form_obj , html: { id: 'checkout_form_address' } ,remote: true do |form| %>
        <%= render partial: 'spree/ar/addresses/form', locals: { address_form: form, address_type: 'billing', address: form_obj} %>

        <%= form.submit form.object.persisted? ? update_address_btn.try(:title) : save_address_btn.try(:title)  , :class => 'btn btn-primary',style:"width:50%" %>
        <% if form.object.persisted? && !@is_primary %>
        <%=link_to delete_address_btn.try(:title) ,address_path(form.object), 'data-method' => :delete, :class => "btn btn-danger",:data => {:confirm => 'Are you sure?'},:remote => true%> 
        <% end %>
      <% end%>
    </div>
  </div>

<% end %>


