<% @address_contents     = Spree::PageContent.from_gen_slug('address') %>
<% @address_btn_contents = @address_contents.from_gen_slug('address-btn-label') %>
<% address_main_content = @address_contents.spec_slug('address-main-heading-desc').last%>
<% new_address_btn      = @address_btn_contents.spec_slug('address-btn-label-new').last%>

<% Globalize.with_locale (I18n.locale) do %>

	<div class="text-center">
		<h1 class="text-center "><%= address_main_content.try(:title) %></h1>
		<button style="    margin-top: -39px;" type="button" class="btn btn-success pull-right"  id="btn-new-address"><%=new_address_btn.try(:title) %></button>

	</div>
	<hr>
	<p class="text-center"> <%=  address_main_content.try(:description)%></p>

<% end %>

<div class=" alert  alert-dismissible" id="address-info-sec"></div>
<div id="user-<%=@user.id%>-addresses-section" >
	<%= render partial: 'spree/account_management/address/user_addresses_section', locals: {addresses: @user.addresses, user: @user} %>
</div>
