<% order_contents     = Spree::PageContent.from_gen_slug('order') %>
<% order_main_contents = order_contents.from_gen_slug('order-main') %>
<% order_content = order_main_contents.spec_slug('order-main-heading-desc').last%>
<% @order_sub_heading_order_details = order_contents.spec_slug('order-sub-heading-order-details').last%>
<% @order_purchased_on_label = order_contents.spec_slug('order-purchased-on-label').last%>
<% @order_personalised_label = order_contents.spec_slug('order-personalised-label').last%>
<% @order_payment_method_label = order_contents.spec_slug('order-payment-method-label').last%>
<% @order_sub_heading_shiping_details = order_contents.spec_slug('order-sub-heading-shiping-details').last%>
<% @order_sale_off_label = order_contents.spec_slug('order-sale-off-label').last%>
<% @order_review_button_label = order_contents.spec_slug('order-review-button-label').last%>
<% @order_my_review_button_label = order_contents.spec_slug('order-my-review-button-label').last%>
<% @order_download_invoice_button_label = order_contents.spec_slug('order-download-invoice-button-label').last%>
<% @order_contact_store_button_label = order_contents.spec_slug('order-contact-store-button-label').last%>
<% @order_request_return_button_label = order_contents.spec_slug('order-request-return-button-label').last%>
<% @order_view_messages_button_label = order_contents.spec_slug('order-view-messages-button-label').last%>
<% @order_create_product_review_label = order_contents.spec_slug('order-create-product-review-label').last%>
<% @order_product_review_heading = order_contents.spec_slug('order-product-review-heading').last%>
<% @order_my_review_product_name = order_contents.spec_slug('order-my-review-product-name').last%>
<% @order_my_review_date = order_contents.spec_slug('order-my-review-date').last%>
<% @order_my_review_close = order_contents.spec_slug('order-my-review-close').last%>
<% @order_detail_items = order_contents.spec_slug('order-detail-items').last%>
<% @order_sub_heading_order_summary = order_contents.spec_slug('order-sub-heading-order-summary').last%>
<% @order_summary_shipping_label = order_contents.spec_slug('order-summary-shipping-label').last%>
<% @order_number_purchased_from_label = order_contents.spec_slug('order-number-purchased-from-label').last%>
<% @order_status_received_label = order_contents.spec_slug('order-status-received-label').last%>
<% @order_status_in_progress_label = order_contents.spec_slug('order-status-in-progress-label').last%>
<% @order_status_delivered_label = order_contents.spec_slug('order-status-delivered-label').last%>
<% @order_shiped_on_label = order_contents.spec_slug('order-shiped-on-label').last%>
<% @order_tracking_number_label = order_contents.spec_slug('order-tracking-number-label').last%>
<% @order_currency_label = order_contents.spec_slug('order-currency-label').last%>
<% @order_discount_label = order_contents.spec_slug('order-discount-label').last%>
<% @order_store_credit_label = order_contents.spec_slug('order-store-credit-label').last%>
<% @order_gift_card_label = order_contents.spec_slug('order-gift-card-label').last%>
<% @order_vat_label = order_contents.spec_slug('order-vat-label').last%>
<% @order_vat_total_label = order_contents.spec_slug('order-vat-total-label').last%>
<% @order_total_inc_vat_label = order_contents.spec_slug('order-total-inc-vat-label').last%>
<%#= order_total_inc_vat_label.try(:title) %>
<% Globalize.with_locale (I18n.locale) do %>
  <h1 class="text-center"> <%= @order_content.try(:title) %> </h1>
  <hr>
  <p>
    <%= order_content.try(:description) %>
  </p>
  <hr>
  <% parent_orders = @orders.complete.select{|s| s.parent_order == nil} %>
  <% parent_orders.each do |main_order| %> 
    <% state_class = main_order.completed? && main_order.shipped? ? "#D3D3D3": "white"%>
    <div id="order_summary-<%main_order.id%>" style="border-style: double ; padding: 27px; background-color: <%=state_class%>;">
      <div id="order" data-hook="">
        <%= render partial: "spree/account_management/orders/main_order_details", locals: {order: main_order} %>
        <hr>
        <%= render partial: "spree/account_management/orders/sub_orders_section", locals: {sub_orders: main_order.sub_orders, main_order: main_order} %>
      </div>
    </div>
    <hr>
    <br>
    <br>
  <% end %>
<% end %>