<% order_overall_star_rating_review_label     = Spree::PageContent.spec_slug('order-overall-star-rating-review-label').last %>
<% order_add_review_button_label     = Spree::PageContent.spec_slug('order-add-review-button-label').last %>
<% order_cancel_review_button_label     = Spree::PageContent.spec_slug('order-cancel-review-button-label').last %>
<form></form>
<%= form_for review, url: product_reviews_path(product), html: { method: :post } do |f| %>
  <%= render 'spree/shared/error_messages', target: review %>
    <div class="form-group hide">
      <%= f.label :name %>
      <%= f.text_field :name, maxlength: 255, size: 50, class: 'form-control', value: @user.first_name? ? @user.first_name : @user.email %>
    </div>
  <div class="form-group">
    <%= f.text_area :review, wrap: 'virtual', rows: 10, cols: 50, class: 'form-control',placeholder: "You can only type 200 characters.", maxlength:  "200" %>
  </div>

  <% if Spree::Reviews::Config[:show_identifier] %>
    <div class="checkbox">
      <%= f.label :show_identifier do %>
        <%= f.check_box :show_identifier, checked: true %>
        <%= Spree::Review.human_attribute_name(:show_identifier) %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= order_overall_star_rating_review_label.try(:title) %>
    <%= render 'spree/reviews/stars', stars: review.rating, edit_enabled: true %>
  </div>

  <div class="form-actions">
    <%= f.submit order_add_review_button_label.try(:title), class: 'btn btn-default' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= order_cancel_review_button_label.try(:title) %></button>
  </div>
<% end %>
