
 <% Globalize.with_locale (I18n.locale) do %>
  <div class="col-lg-2 col-md-2 col-sm-3 option-stor-lft p-0 disp-non">
    <ul class="profile-set-mg">
      <%= image_tag "profile-img.jpg", alt: "", width: "75", height: "75" %>
      <h5><%= @user.full_name %></h5>
      <li><a href="#"><%= @user.email %></a></li>
      <li><a href="#"><%= @user.phone_number %></a></li>
    </ul>
    <ul class="rev_vw">
      <li><%= image_tag "per-information-icon.png", alt: "" %><a class="active" href="account-profile-en.html">Personal Information</a></li>
      <li><%= image_tag "address-icon.png", alt: "" %><a href="account-address-en.html">My Addresses</a></li>
      <li><%= image_tag "order-icon.png", alt: "" %><a href="account-orders-en.html">My Orders</a></li>
<!--      <li><%#= image_tag "apointment-icon.png", alt: "" %><a href="#">My Appointments</a></li>-->
      <li><%= image_tag "wishlist-icon.png", alt: "" %><a href="account-wishlist-en.html"> My Wishlist</a></li>
      <li><%= image_tag "reviews-icon.png", alt: "" %><a href="account-reviews-en.html">My Reviews</a></li>
      <li><%= image_tag "stor-icon.png", alt: "" %><a href="store-listing-en.html">My Stores</a></li>
<!--      <li><%#= image_tag "setting-icon.png", alt: "" %><a href="#">My Settings</a></li>-->
<!--      <li><%#= image_tag "message-icon.png", alt: "" %><a href="#">My Messages</a></li>-->
<!--      <li><%#= image_tag "support-icon.png", alt: "" %><a href="#">Support Centre</a></li>-->
      <li class="log_ut"><%= image_tag "acc-log-out.png", alt: "" %><a href="#">Log out</a></li>
    </ul>
  </div>

<% end %>



<!-- <%# Globalize.with_locale (I18n.locale) do %>
  <ul class="nav nav-pills nav-stacked admin-menu" id="profile-tabs">
    <li class="active"><a href="#" data-target-id="pi"><i class="fa fa-home fa-fw"></i><%#= profile_info_txt.try(:title)%></a></li>

    <li><a href="#" data-target-id="address"><i class="fa fa-list-alt fa-fw"></i><%#= addresses_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="orders"><i class="fa fa-file-o fa-fw"></i><%#= orders_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="whislist"><i class="fa fa-bar-chart-o fa-fw"></i><%#= wishlist_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="reviews"><i class="fa fa-table fa-fw"></i><%#= reviews_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="stores"><i class="fa fa-heart fa-fw"></i><%#= stores_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="settings"><i class="fa fa-tasks fa-fw"></i><%#= settings_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="messages"><i class="fa fa-calendar fa-fw"></i><%#= messages_txt.try(:title)%></a></li>
    <li><a href="#" data-target-id="appointments"><i class="fa fa-tasks fa-fw"></i>My Appointments</a></li>
    <li><a href="#" data-target-id="sc"><i class="fa fa-book fa-fw"></i><%#= sc_txt.try(:title)%></a></li>
    <li>
      <%#= link_to spree.logout_path do %>
        <i class="fa fa-pencil fa-fw"></i><%#= logout_txt.try(:title)%>
      <%# end %>
    </li>

  </ul>
<%# end %> -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
          theme: "minimal"
      });

      $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
      });

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
  });
</script>